{% extends 'base.html' %}
{% block content %}
<br><br>
    <h1>My Account</h1> <br>
    <h6> You are logged in as {{ user.get_username }}</h6> <br> <br>


    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Class Schedules</h5>
              <p class="card-text">Sign up for classes that best fit your schedule</p>
              <a href="{% url 'schedule' %}" class="btn btn-dark">Schedule</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">View FAQ</h5>
              <p class="card-text">Curious about our gym? Check our FAQ</p>
              <a href="{% url 'FAQ' %}" class="btn btn-dark">FAQ</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Classes</h5>
              <p class="card-text">View classes you signed up for</p>
              <a href="{% url 'MyClasses' %}" class="btn btn-dark">My Registered Classes</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">COVID</h5>
              <p class="card-text">Let us know if you had COVID or are experiencing symptoms</p>
              <a href="{% url 'covidreport' %}" class="btn btn-dark">Report</a>
            </div>
          </div>
        </div>
      </div>

<!----
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Let us know if you had covid</h5>
          <a href="{% url 'covidreport' %}" class="btn btn-dark">COVID Reporting</a>
        </div>
      </div>
      */ -->

    <!-- <a href="{% url 'password_change' %}" class="btn btn-primary" >Change password</a>
    <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a> -->
{% endblock content %}