{% extends 'base.html' %}
{% block content %}

  <br><br>
<h2>FAQ</h2> <br> 

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Why Brazilian Jiu Jitsu?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Jiu Jitsu has been marketed as one of the most effective martial arts for self-defense where the smaller and less athletic individual can defend themselves against larger and stronger assailants.
        After a 60 or 90-minute Jiu Jitsu class, your body and gi will be soaked in sweat. Jiu Jitsu is a great workout that incorporates every part of your body.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        When was Brazilian Jiu Jitsu Created?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">a way to practice the art realistically was needed, which is why Jigoro Kano (1860-1938), an educated man and member of the Cultural department and a practitioner of Jiu-Jitsu,
        developed his own version of Jiu-Jitsu in the late 1800s, called Judo. Judo was helpful because it allowed practitioners the ability to try the art safely and realistically at the same time.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        What else does BJJ offer that other martial arts do not?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">When we talk about self defense we think of blocking, hitting and kicking. BJJ offers a non-striking, more peaceful alternative to the latter. BJJ is not about brute force or a one punch victory.
        In BJJ, you learn distance control until the defender is ready to allow the adversary in. </div>
    </div>
  </div>
</div>


{% endblock content %}