{% extends 'base.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <button type="submit" name="UnregisterForClass">Unregister for Selected Classes</button>
    <table class="table table-striped" border=1>
        <tr>
            <th>Selected</th>
            <th>Date</th>
            <th>Time</th>
            <th>Type</th>
            <th>Instructor</th>
            <th>Gi Required</th>
        </tr>

        {% for i in classes %}
        <tr>
            <td>
                <!-- <form method="post">
                <input type="checkbox" name="check" value={{i.id}} id={{i.id}}/>
            </form> -->
                <input type="checkbox" name="checkbox" value={{i.id}} />
            </td>
            <td>{{i.date}}</td>
            <td>{{i.time}}</td>
            <td>{{i.type}}</td>
            <td>{{i.instructor}}</td>
            <td>{{i.gi}}</td>
        </tr>
        {% endfor %}

    </table>
</form>


{% endblock content %}