{% extends 'base.html' %}
{% block content %}
    <!-- <nav class="navbar sticky-top navbar-light bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'signup' %}">
            <button class="btn btn-outline-success me-2" type="button">SIGN UP</button>
        </a>
        


        </div>
    </nav> -->

    <form method="post">
        {% csrf_token %}
        <button type="submit" name="SignUpForClass">SIGN UP</button>
    </form>

    <table class= "table table-striped" border =1>
        <tr>
            <th>Selected</th>
            <th>Date</th>
            <th>Time</th>
            <th>Type</th>
            <th>Size</th>
            <th>Instructor</th>
            <th>Gi</th>
        </tr>
        
        {% for i in classes %}
            <tr>
                <td>
                    <form action="" method="post">
                        <label for={{i.id}}><input type="checkbox" name="selected" value="addclass" id={{i.id}}></label>
                    </form>
                </td>
                <td>{{i.date}}</td>
                <td>{{i.time}}</td>
                <td>{{i.type}}</td>
                <td>{{i.size}}</td>
                <td>{{i.instructor}}</td>
                <td>{{i.gi}}</td>
            </tr>
        {% endfor %}

    </table>


{% endblock content %}