{% extends 'base.html' %}
{% block content %}
    <!-- <nav class="navbar sticky-top navbar-light bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'signup' %}">
            <button class="btn btn-outline-success me-2" type="button">SIGN UP</button>
        </a>
        


        </div>
    </nav> -->

    <form method="post">
        {% csrf_token %}
        <button type="submit" name="SignUpForClass">SIGN UP</button>
        <table class= "table table-striped" border =1>
            <tr>
                <th>Selected</th>
                <th>Date</th>
                <th>Time</th>
                <th>Type</th>
                <th>Size</th>
                <th>Instructor</th>
                <th>Gi</th>
            </tr>
            
            {% for i in classes %}
                <tr>
                    <td>
                        <!-- <form method="post">
                            <input type="checkbox" name="check" value={{i.id}} id={{i.id}}/>
                        </form> -->
                        <input type="checkbox" name="checkbox" value={{i.id}} />
                    </td>
                    <td>{{i.date}}</td>
                    <td>{{i.time}}</td>
                    <td>{{i.type}}</td>
                    <td>{{i.size}}</td>
                    <td>{{i.instructor}}</td>
                    <td>{{i.gi}}</td>
                </tr>
            {% endfor %}
    
        </table>
    
    </form>

    


{% endblock content %}