{% extends 'base.html' %}
{% block content %}
    {% for a in succeed %}
        <p>Signed up for the {{a.type}} class at {{a.time}} on {{a.date}}</p>
    {% endfor %}

    {% for b in failed %}
        <p>Could not sign up for the {{b.type}} class at {{b.time}} on {{b.date}} because it is full</p>
    {% endfor %}

    {% for c in signedUpAlready %}
        <p>Could not sign up for the {{c.type}} class at {{c.time}} on {{c.date}} because you are already signed up for class</p>
    {% endfor %}
{% endblock content %}